<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.example.mapper.BlogMapper">
	<select id="selectBlogByName" resultType="Blog">
		SELECT * FROM BLOG WHERE NAME = #{name}
	</select>
	
	<!-- <select id="findBlog" resultType="Blog" parameterType="page">
       SELECT * FROM BLOG
    </select> -->
    <select id="findActiveBlogWithNameLike" resultType="Blog">
    	<bind name="namePattern" value="'%' + name + '%'"/>
    	SELECT * FROM BLOG
    	WHERE STATUS = 'ACTIVE' 
    	<if test="name != null">
    	<!-- concat(concat('%',#{username}),'%') -->
    		AND NAME LIKE #{namePattern}
    	</if>
    </select>
</mapper>