<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title}, ~{::link}, ~{::script})">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/component/bootstrap-table.min.css}" />
    <link rel="stylesheet" th:href="@{/css/component/bootstrap-switch.min.css}" />
    <link rel="stylesheet" th:href="@{/css/component/toastr.min.css}">

    <script th:src="@{/js/component/bootstrap-table.min.js}" ></script>
    <script th:src="@{/js/component/bootstrap-table-locale-chinese.min.js}" ></script>
    <script th:src="@{/js/component/bootstrap-table-treegrid.min.js}" ></script>
    <script th:src="@{/js/component/bootstrap-switch.min.js}" ></script>
    <script th:src="@{/js/component/toastr.min.js}"></script>
    <script th:src="@{/js/component/sweetalert.min.js}"></script>
    <script th:src="@{/js/permission.js}" ></script>
</head>
<body>
<div th:insert="layout :: layout('system', ~{:: section})">
    <section>
        <!--html模板-->

        <!--列表-->
        <div style="height: 100%;width: 100%">
            <div id="toolbar">
                <button type="btn" class="btn btn-primary" onclick="showEditModal()">
                    <i class="fas fa-plus"></i> 添加
                </button>
                <button type="btn" class="btn btn-danger" onclick="deleteBatch()">
                    <i class="fas fa-times"></i> 删除选中行
                </button>
            </div>
            <table id="table-main"
                   class="table table-striped"></table>
            <div id="button-toolbar"></div>

            <!--编辑表单-->
            <!-- Modal -->
            <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">创建用户</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="permissionId"/>
                            <form id="edit-form">
                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label d-flex justify-content-end">权限名称:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="name" name="name" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="uri" class="col-sm-3 col-form-label d-flex justify-content-end">请求路径:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="uri" name="uri" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="method" class="col-sm-3 col-form-label d-flex justify-content-end">请求方法:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="method" name="method" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="icon" class="col-sm-3 col-form-label d-flex justify-content-end">菜单图标:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="icon" name="icon" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="permission" class="col-sm-3 col-form-label d-flex justify-content-end">权限值:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="permission" name="permission" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="status" class="col-sm-3 col-form-label d-flex justify-content-end">状态:</label>
                                    <div class="col-sm-9">
                                        <input type="checkbox" class="form-control" id="status" name="status" data-size="small" data-on-color="success" data-off-color="danger" data-on-text="可用" data-off-text="不可用" checked />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="sort" class="col-sm-3 col-form-label d-flex justify-content-end">排序号:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="sort" name="sort" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-sm-3 col-form-label d-flex justify-content-end">类型:</label>
                                    <div class="col-sm-9">
                                        <select id="type" name="type" class="custom-select form-control">
                                            <option value="0">目录</option>
                                            <option value="1" selected>菜单</option>
                                            <option value="2">按钮</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="parentId" class="col-sm-3 col-form-label d-flex justify-content-end">父节点:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="parentId" name="parentId" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="remark" class="col-sm-3 col-form-label d-flex justify-content-end">备注:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="remark" name="remark"></textarea>
                                    </div>
                                </div>


                                <button type="reset" id="resetForm" hidden></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" onclick="insertOne()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:insert="footer :: copy"></div>
</body>
</html>