<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
     
     <!-- I think the classpath should be a little more detail. By this way spring can find it fast -->
    <context:property-placeholder location="classpath*:conf/dev/database.properties"/>
     
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="dataSource" />
	  <!-- <property name="configLocation" value="classpath*:*/mybatis-config.xml" /> -->
	  <!-- <property name="mapperLocations" value="classpath:com/mybatisSpring/example/mappers/**/*.xml" /> -->
	  <property name="configLocation" value="classpath:com/mybatisSpring/example/conf/mybatis-config.xml" />
	  <!-- http://www.2cto.com/kf/201611/566987.html -->
	  <!-- <property name="configuration">
      	<bean class="org.apache.ibatis.session.Configuration">
      	//是否开启自动将数据库表字段映射为驼峰命名规则
      		<property name="mapUnderscoreToCamelCase" value="true"/>
    	</bean>
  	  </property> -->
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> 
        <!-- 数据源驱动类可不写，Druid默认会自动根据URL识别DriverClass -->
        <property name="driverClass" value="${jdbc.driver}" />
        
        <!-- 基本属性 url、user、password -->
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        
        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialPoolSize" value="${jdbc.pool.minIdle}" />
        <property name="minPoolSize" value="${jdbc.pool.minIdle}" /> 
        <property name="maxPoolSize" value="${jdbc.pool.maxActive}" />
        
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxIdleTime" value="60000" />
          
       	<property name="acquireIncrement" value="3" />  
       	<property name="maxStatements" value="1000" />  
       	<property name="idleConnectionTestPeriod" value="60" />  
       	<property name="acquireRetryAttempts" value="30" />  
       	<property name="breakAfterAcquireFailure" value="true" />  
      	<property name="testConnectionOnCheckout" value="false" />   
      </bean>
      
      <!-- <context:component-scan/> won't be able to scan and register mappers. Mappers are interfaces and, 
      in order to register them to Spring, the scanner must know how to create a MapperFactoryBean for each interface it finds.  -->
      
      <!-- <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
      	<property name="mapperInterface" value="UserMapper" />
      	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
      </bean> -->
      <!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
      	<property name="basePackage" value="com.mybatisSpring.example.mapper" />
      	If you need to specify an specific sqlSessionFactory or sqlSessionTemplate note that bean names are required, not bean references, 
      	thus the value attribute is used instead of the usual ref
      	<property name="sqlSessionFactoryBeanName" ref="sqlSessionFactory" />
	  </bean> -->
	  <mybatis:scan base-package="com.mybatisSpring.example.mapper" />
</beans>