<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="autoMappingUnknownColumnBehavior" value="WARNING" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="defaultFetchSize" value="100" />
		<setting name="safeRowBoundsEnabled" value="false" />
		是否开启自动驼峰命名规则（camel case）映射, 即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射.
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
		<setting name="logImpl" value="LOG4J"/>
	</settings> -->

	<!-- <typeAliases>
		<typeAlias alias="blog" type="com.mybatis.example.enity.Blog" />
		<typeAlias alias="page" type="com.mybatis.example.enity.Page" />
		<typeAlias alias="user" type="com.mybatis.example.enity.User" />
	</typeAliases> -->
	
	<!-- <objectFactory type="com.mybatis.example.factory.ExampleObjectFactory">
		<property name="someProperty" value="100"/>
		<property name="someProperty1" value="1000"/>
	</objectFactory>
	
	<plugins>
		<plugin interceptor="com.mybatis.example.plugins.MyPlugin">
			<property name="prop1" value="prop1"/>
			<property name="prop2" value="prop2"/>
		</plugin>
		<plugin interceptor="com.mybatis.example.plugins.PageInterceptor">
			<property name="databaseType" value="mysql"/>
		</plugin>
	</plugins> -->
	
	<!-- Put this in the back of environments -->
	<databaseIdProvider type="DB_VENDOR">
	  	<property name="SQL Server" value="sqlserver"/>
	  	<property name="DB2" value="db2"/>        
	  	<property name="Oracle" value="oracle" />
	  	<property name="MySQL" value="mysql" />
	</databaseIdProvider>
	
	<!-- 指定数据表映射文件位置，有以下四种方式： 
		1.使用相关资源 <mappers> <mapper resource="XXX/YYY/ZZZ/WWW.xml"/></mappers>  
		2.使用全路径 <mappers> <mapper url="file:///XXX.xml" /> </mappers> 
		3.使用映射接口名称 <mappers> <mapper class="XXX.YYY.ZZZ.ClassName" /> </mappers> 
		4.使用包名称 <mappers> <package name="XXX/YYY/ZZZ" /> </mappers> -->
	<mappers>
		<!-- should be deleted
		<mapper class="com.mybatisSpring.example.mapper.BlogMapper" />
		<mapper class="com.mybatisSpring.example.mapper.UserMapper" /> -->
		<mapper resource="com/mybatisSpring/example/mappers/UserMapper.xml" />
		<mapper resource="com/mybatisSpring/example/mappers/BlogMapper.xml" />
	</mappers>
</configuration>