<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: common_header(~{::title}, ~{}, ~{::script})">
        <title>修改密码</title>
        <script th:src="@{/js/account.js}" ></script>
    </head>
    <body>
        <div th:insert="layout :: layout('profile', ~{:: section})">
            <section class="container">
                <div class="alert alert-danger fade" role="alert">
                    <span id="error-message"></span>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <input type="hidden" id="accId" th:value="${session.account_session.id}">
                    <form id="resetPasswordForm" class="col-7 justify-content-md-center">
                        <div class="form-group row">
                            <label for="oldPassword" class="col-sm-2 col-form-label">旧密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newPassword" class="col-sm-2 col-form-label">新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirmNewPassword" class="col-sm-2 col-form-label">确认新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
                            </div>
                        </div>
                        <div class="form-group row justify-content-end">
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" onclick="resetPassword()">确认</button>
                                <button type="reset" class="btn btn-secondary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div th:insert="footer :: copy"></div>
    </body>
</html>