<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>登录</title>
        <link rel="stylesheet" th:href="@{/css/component/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/login.css}" />
        <script th:src="@{/js/component/jquery-3.4.1.min.js}" ></script>
        <script th:src="@{/js/component/bootstrap.min.js}" ></script>
        <script th:src="@{/js/login.js}"></script>
    </head>
    <body>
        <form class="form-signin">
            <h1 style="text-align: center; padding-bottom: 100px">用户登录</h1>

            <div class="error-message" style="color: red; display: none"></div>
            <div class="form-label-group">
                <input type="input" id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
                <label for="username">用户名</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
                <label for="password">密码</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" id="login-btn" type="button">登录</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
        </form>

    </body>
</html>