<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title}, ~{::link}, ~{::script})">
    <title>角色管理</title>

    <link rel="stylesheet" th:href="@{/css/component/bootstrap-table.min.css}" />
    <link rel="stylesheet" th:href="@{/css/component/bootstrap-switch.min.css}" />
    <link rel="stylesheet" th:href="@{/css/component/toastr.min.css}">

    <script th:src="@{/js/account.js}" ></script>
    <script th:src="@{/js/bootstrap-table.js}" ></script>
    <script th:src="@{/js/component/bootstrap-table-locale-chinese.min.js}" ></script>
    <script th:src="@{/js/component/bootstrap-switch.min.js}" ></script>
    <script th:src="@{/js/component/toastr.min.js}"></script>
    <script th:src="@{/js/component/sweetalert.min.js}"></script>
    <script th:src="@{/js/role.js}" ></script>

</head>
<body>
<div>
    <div th:insert="layout :: layout('system', ~{:: section})">
        <section>
            <div th:fragment="list" xmlns:th="http://www.thymeleaf.org" style="height: 100%;width: 100%">
                <div id="toolbar">
                    <button type="btn" class="btn btn-primary" onclick="showEditModal()">
                        <i class="fas fa-plus"></i> 添加
                    </button>
                    <button type="btn" class="btn btn-danger" onclick="deleteBatch()">
                        <i class="fas fa-times"></i> 删除选中行
                    </button>
                </div>
                <table id="table-main" class="table table-striped"></table>
                <div id="button-toolbar"></div>

                <!--删除警告-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">警告</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>确定删除<span class="username"></span>？</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger delete-confirm" href="#">删除</a>
                                <button type="button" class="btn btn-secondary .delete-cancel" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--编辑表单-->
                <!-- Modal -->
                <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">编辑角色</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="roleId"/>
                                <form id="edit-form">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 col-form-label d-flex justify-content-end">角色名称:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="name" name="name" required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="status" class="col-sm-3 col-form-label d-flex justify-content-end">状态:</label>
                                        <div class="col-sm-9">
                                            <input type="checkbox" class="form-control" id="status" name="status" data-size="small" data-on-color="success" data-off-color="danger" data-on-text="可用" data-off-text="不可用" checked />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="remark" class="col-sm-3 col-form-label d-flex justify-content-end">备注:</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="remark" name="remark"></textarea>
                                        </div>
                                    </div>

                                    <button type="reset" id="resetForm" hidden></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" onclick="saveRole()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div th:insert="footer :: copy"></div>
</div>
</body>
</html>